
body {
    background-color: #222034;
    font-family: sans-serif;
    color: #e0e0e0;
    overflow-x: hidden;
}
h1, h2,h3 {
    font-family:  sans-serif;
    text-align: center;
    margin: 0.5em;
}
header,main{
    margin: auto;
    width: 80vw;
    background-color: #16324c;
    padding: 0px;
    border-radius: 3px;
    position: relative;
}
li::marker{
    content: "";
}
li{
    display: inline-block;
}
p{
    padding-inline: 20px;
}
footer{
    margin: auto;
    text-align: center;
}
a{
    margin-right: 4px;
    text-decoration: underline;
    cursor: pointer;
}
a:link {
    color: #e7e7e7;
}
a:visited{
    color: #bcbcbc;
}
a:hover{
    color:beige;
}
a:active{
    color:burlywood;
}
.RadioB{
    margin: 0 0 0 0 ;
    width: unset;
    vertical-align: middle;
}
.RegForm{
    background-color: whitesmoke;
    color: black;
    width: 60vw;
    max-width: 900px;
    min-width: 260px;
    margin: auto;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 40px;
}
.FieldSet{
    margin: 0 0 20px 0 ;
    border: none;
}
iframe{
    margin: auto;
    width: 80%;
    display:block;
}
img{
    margin: auto;
    display:block;
    width: 100%;

}
::placeholder{
    color: whitesmoke;
}
input, select, textarea {
    width: 95%;
    min-height: 2em;
    border-radius: 3px;
    margin: 0.5em 0 0 0;
    padding: 0.3rem 0.7rem;
}
input, textarea {
    background-color: #708090;
    border: 1px solid #708090;
    color:white
}
.renew{
    cursor: pointer;
    width: 40%;
    display: block;
    color:whitesmoke;
    background-color: #708090;
    border: 1px solid #708090;
    border-radius: 3px;
    margin: auto;
    margin-bottom: 1em;
}
input[type="submit"]  {
    cursor: pointer;
    width: 60%;
    display: block;
    margin: auto;
    color:whitesmoke;
    background-color: #708090;
    border-radius: 3px;
}
textarea {
    resize: vertical;
}
label {
    margin: 0.5rem 0 ;
    display: block;
    font-size: 1.125rem;
}
table{
    border-collapse: collapse;
    margin: auto;
    width: 80%;
}
td,th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.navigationBar{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px,100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navigation a{
    text-decoration: none;
    margin-right: 20px;
    font-weight: 600;
}

.paralax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#paralaxText{
    font-size: 5em;
    position: absolute;
}
.paralax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.content{
    position: relative;
    background-color: #222034;
    padding:  100px;
}
.content h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2em;
}
@media screen and (max-width:768px) {
   .HideOnSmallScreen{
    display: none;
   }

   img{
    width: 100%;
    height: 200px;
    max-height: 800px;
   }
   
   iframe{
    max-width: 500px;
    max-height: 400px;
   }
}
